<%= form_for([@course, @message]) do |f| %>
<% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="input-group input-lg">
    <%= f.text_field :message, class: "form-control" %>
    <span class="input-group-btn">
    <%= f.submit "Connect!", class: "btn btn-default" %>
  </span>
  </div>
<% end %>