<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
            <% image = @user.image || "no_image.jpg" %>
          <%= image_tag(image, :class => "img-circle profile-size") %></a>
        <h3><%= @user.first_name %><%= @user.last_name %></h3>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About <%= @user.first_name %>:</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <% image = @user.image || "no_image.jpg" %>
                    <%= image_tag(image, :class => "img-circle profile-size") %></a>
                    <h3 class="media-heading"><%= @user.first_name %><%= @user.last_name %></h3>
                    
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Major:</strong> <small><%= @user.major %></small><br>
                        </p>
                    <p class="text-left"><strong>Current Classes:</strong> 
                        <% names = [] %>
                        <% @courses.each do |c|  %>
                        <% names.push(c.name) %>
                        <% end %>
                        <small><%= names.to_sentence %></small>
                        <br>
                        </p>
					<p class="text-left"><strong>Current Standing:</strong> <small><%= @user.standing %></small><br>
                        </p>
                    <p class="text-left"><strong>Email:</strong> <small><%= @user.email %></small><br>
                        </p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
					
                    <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>