<p id="notice"><%= notice %></p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
    <% @courses.each do |course| %>
        <p><%= course.crn %></p>
        <p><%= link_to course.name, course_messages_path(course) %></p>
    <% end %>
    <% @user.messages.each do |message| %>
        <p><%= message.message %></p>
        <p><%= time_ago_in_words message.created_at %></p>
    <% end %>

<%= link_to 'Add Course', new_user_assignment_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
