<p id="notice"><%= notice %></p>

<%= render 'profile' %>

<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<% if @user == @current_user %>
  <%= link_to 'Add Course', new_user_assignment_path(@user) %> |
  <%= link_to 'Edit', edit_user_path(@user) %>

<% @courses.each do |course| %>
<div class="well well-sm">
  <h4><%= link_to course.name, course_messages_path(course) %></h4>
  <p><%= course.crn %></p>
  <div class="divider"></div>
</div>
<% end %>
<% end %>

</div>
